.container {
background-color: #5b7bb2;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginItems {
display: flex;
padding: 30px;
}

.logInButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardContainer {
  display: flex;
  background-color: lightgray;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.volumeCard {
  padding: 30px;
}

.soundCloudCard {
  padding: 30px;
}

.dashboardImage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lightgray;
  padding: 30px;
}

.playCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

